<!DOCTYPE html>
<html>
<head>
	<title>Meta Social</title>
	<% include partials/head %>
</head>
<body>
	<% include partials/navbar %>
	<div class="container-fluid">
		<h1>Welcome</h1>
	</div>
</body>
</html>