<!DOCTYPE html>
<html>
<head>
	<title>Meta Social</title>
	<% include partials/head %>
</head>
<body>
	<% include partials/navbar %>
	<div class="container-fluid">
		<h1>Posts</h1>
		<form action="/posts" method="post">
			<select name="userId">
				<% for (var i in users) { %>
				<option value="<%= users[i]._id %>"><%= `${users[i].userFirstName} ${users[i].userLastName}` %></option>
				<% } %>
			</select>
			<input type="textarea" name="postContent" placeholder="Say Something">
			<input type="submit">
		</form>
		<% for(var i in posts) { %>
			<div class="post">
				<h2><%= `${posts[i].user.userFirstName} ${posts[i].user.userLastName}` %></h2>
				<p><%= `${posts[i].postContent}` %></p>
			</div>
		<% } %>
	</div>
</body>
</html>