<!DOCTYPE html>
<html>
<head>
	<title>Meta Social</title>
	<% include partials/head %>
</head>
<body>
	<% include partials/navbar %>
	<div class="container-fluid">
		<h1>Posts</h1>
		<form action="/addPost" method="post">
			<input type="text" name="userFirstName" placeholder="Last Name">
			<input type="text" name="userLastName" placeholder="First Name">
			<input type="textarea" name="postContent" placeholder="Say Something">
			<input type="submit">
		</form>
		<% for(var i in posts) { %>
			<div class="post">
				<h2><%= `${posts[i].user.userFirstName} ${posts[i].postContent}` %></h2>
			</div>
		<% } %>
	</div>
</body>
</html>