<!DOCTYPE html>
<html>
<head>
	<title>Meta Social</title>
	<% include partials/head %>
</head>
<body>
	<% include partials/navbar %>
	<div class="container-fluid">
		<h1>Hello</h1>
		<div class="new-user-form">
			<form action="/user" method="post">
				<input type="text" name="userFirstName" placeholder="First Name">
				<input type="text" name="userLastName" placeholder="Last Name">
				<input type="submit">
			</form>
		</div>
			<% for(var i in users) { %>
				<div class="user-info">
					<h2><%= `${users[i].userFirstName} ${users[i].userLastName}` %></h2>
				</div>
			<% } %>
	</div>
</body>
</html>